/* icons */
[class^="iwoo-"],
[class*=" iwoo-"] {
display: inline-block;
width: 32px;
height: 32px;
*margin-right: .3em;
line-height: 14px;
vertical-align: text-top;
/*background-image: url("../img/iwoo.png");*/
background-image: url("../img/iwoo-icon.png");
background-position: 1px 1px;
background-repeat: no-repeat;
}
[class^="iwoo-"]:last-child,
[class*=" iwoo-"]:last-child {
*margin-left: 0;
}

.iwoo-Income_32{ background-position: 0 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor{ background-position: -64px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_add{ background-position: -128px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_chart{ background-position: -192px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_close{ background-position: -256px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_warning{ background-position: -320px 0; width: 32px; height: 32px; } 
.iwoo-add_16{ background-position: -384px 0; width: 16px; height: 16px; } 
.iwoo-add_32{ background-position: -432px 0; width: 32px; height: 32px; } 
.iwoo-address_book_32{ background-position: -496px 0; width: 32px; height: 32px; } 
.iwoo-address_book_add_32{ background-position: -560px 0; width: 32px; height: 32px; } 
.iwoo-address_book_close_32{ background-position: -624px 0; width: 32px; height: 32px; } 
.iwoo-address_book_search_32{ background-position: -688px 0; width: 32px; height: 32px; } 
.iwoo-address_book_warning_32{ background-position: -752px 0; width: 32px; height: 32px; } 
.iwoo-arrow_down_16{ background-position: -816px 0; width: 16px; height: 16px; } 
.iwoo-arrow_down_32{ background-position: -864px 0; width: 32px; height: 32px; } 
.iwoo-arrow_left_16{ background-position: -928px 0; width: 16px; height: 16px; } 
.iwoo-arrow_left_32{ background-position: -976px 0; width: 32px; height: 32px; } 
.iwoo-arrow_right_16{ background-position: -1040px 0; width: 16px; height: 16px; } 
.iwoo-arrow_right_32{ background-position: -1088px 0; width: 32px; height: 32px; } 
.iwoo-arrow_up_16{ background-position: -1152px 0; width: 16px; height: 16px; } 
.iwoo-arrow_up_32{ background-position: -1200px 0; width: 32px; height: 32px; } 
.iwoo-basket_32{ background-position: -1264px 0; width: 32px; height: 32px; } 
.iwoo-basket_add_32{ background-position: -1328px 0; width: 32px; height: 32px; } 
.iwoo-basket_back_32{ background-position: -1392px 0; width: 32px; height: 32px; } 
.iwoo-basket_chart_32{ background-position: -1456px 0; width: 32px; height: 32px; } 
.iwoo-basket_close_32{ background-position: -1520px 0; width: 32px; height: 32px; } 
.iwoo-basket_go_32{ background-position: -1584px 0; width: 32px; height: 32px; } 
.iwoo-basket_search_32{ background-position: -1648px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_down_32{ background-position: -1712px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_left_32{ background-position: -1776px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_right_32{ background-position: -1840px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_up_32{ background-position: -1904px 0; width: 32px; height: 32px; } 
.iwoo-book_32{ background-position: 0 -64px; width: 32px; height: 32px; } 
.iwoo-book_add_32{ background-position: -64px -64px; width: 32px; height: 32px; } 
.iwoo-book_bookmarks_32{ background-position: -128px -64px; width: 32px; height: 32px; } 
.iwoo-book_close_32{ background-position: -192px -64px; width: 32px; height: 32px; } 
.iwoo-book_search_32{ background-position: -256px -64px; width: 32px; height: 32px; } 
.iwoo-book_warning_32{ background-position: -320px -64px; width: 32px; height: 32px; } 
.iwoo-camera_32{ background-position: -384px -64px; width: 32px; height: 32px; } 
.iwoo-camera_add_32{ background-position: -448px -64px; width: 32px; height: 32px; } 
.iwoo-camera_close_32{ background-position: -512px -64px; width: 32px; height: 32px; } 
.iwoo-chart_16{ background-position: -576px -64px; width: 16px; height: 16px; } 
.iwoo-chart_32{ background-position: -624px -64px; width: 32px; height: 32px; } 
.iwoo-chart_flipped_16{ background-position: -688px -64px; width: 16px; height: 16px; } 
.iwoo-chart_flipped_32{ background-position: -736px -64px; width: 32px; height: 32px; } 
.iwoo-clock_32{ background-position: -800px -64px; width: 32px; height: 32px; } 
.iwoo-close_16{ background-position: -864px -64px; width: 16px; height: 16px; } 
.iwoo-close_32{ background-position: -912px -64px; width: 32px; height: 32px; } 
.iwoo-comment_32{ background-position: -976px -64px; width: 32px; height: 32px; } 
.iwoo-comment_add_32{ background-position: -1040px -64px; width: 32px; height: 32px; } 
.iwoo-comment_page_32{ background-position: -1104px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_32{ background-position: -1168px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_add_32{ background-position: -1232px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_chart_32{ background-position: -1296px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_close_32{ background-position: -1360px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_info_32{ background-position: -1424px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_page_32{ background-position: -1488px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_rss_32{ background-position: -1552px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_search_32{ background-position: -1616px -64px; width: 32px; height: 32px; } 
.iwoo-comment_user_warning_32{ background-position: -1680px -64px; width: 32px; height: 32px; } 
.iwoo-database_32{ background-position: -1744px -64px; width: 32px; height: 32px; } 
.iwoo-database_add_32{ background-position: -1808px -64px; width: 32px; height: 32px; } 
.iwoo-database_chart_32{ background-position: -1872px -64px; width: 32px; height: 32px; } 
.iwoo-database_close_32{ background-position: -1936px -64px; width: 32px; height: 32px; } 
.iwoo-database_page_32{ background-position: 0 -128px; width: 32px; height: 32px; } 
.iwoo-database_search_32{ background-position: -64px -128px; width: 32px; height: 32px; } 
.iwoo-database_warning_32{ background-position: -128px -128px; width: 32px; height: 32px; } 
.iwoo-email_32{ background-position: -192px -128px; width: 32px; height: 32px; } 
.iwoo-email_add_32{ background-position: -256px -128px; width: 32px; height: 32px; } 
.iwoo-email_close_32{ background-position: -320px -128px; width: 32px; height: 32px; } 
.iwoo-email_forward_32{ background-position: -384px -128px; width: 32px; height: 32px; } 
.iwoo-email_reply_32{ background-position: -448px -128px; width: 32px; height: 32px; } 
.iwoo-email_reply_all_32{ background-position: -512px -128px; width: 32px; height: 32px; } 
.iwoo-error_button{ background-position: -576px -128px; width: 32px; height: 32px; } 
.iwoo-error_button_16{ background-position: -640px -128px; width: 16px; height: 16px; } 
.iwoo-folder_32{ background-position: -688px -128px; width: 32px; height: 32px; } 
.iwoo-folder_add_32{ background-position: -752px -128px; width: 32px; height: 32px; } 
.iwoo-folder_chart_32{ background-position: -816px -128px; width: 32px; height: 32px; } 
.iwoo-folder_close_32{ background-position: -880px -128px; width: 32px; height: 32px; } 
.iwoo-folder_page_32{ background-position: -944px -128px; width: 32px; height: 32px; } 
.iwoo-folder_search_32{ background-position: -1008px -128px; width: 32px; height: 32px; } 
.iwoo-folder_warning_32{ background-position: -1072px -128px; width: 32px; height: 32px; } 
.iwoo-hammer_32{ background-position: -1136px -128px; width: 32px; height: 32px; } 
.iwoo-heart_16{ background-position: -1200px -128px; width: 16px; height: 16px; } 
.iwoo-heart_32{ background-position: -1248px -128px; width: 32px; height: 32px; } 
.iwoo-home_32{ background-position: -1312px -128px; width: 32px; height: 32px; } 
.iwoo-home_back_32{ background-position: -1376px -128px; width: 32px; height: 32px; } 
.iwoo-home_go_32{ background-position: -1440px -128px; width: 32px; height: 32px; } 
.iwoo-info_button_16{ background-position: -1504px -128px; width: 16px; height: 16px; } 
.iwoo-info_button_32{ background-position: -1552px -128px; width: 32px; height: 32px; } 
.iwoo-lightbulb_32{ background-position: -1616px -128px; width: 32px; height: 32px; } 
.iwoo-lightbulb_off_32{ background-position: -1680px -128px; width: 32px; height: 32px; } 
.iwoo-lock_32{ background-position: -1744px -128px; width: 32px; height: 32px; } 
.iwoo-lock_open_32{ background-position: -1808px -128px; width: 32px; height: 32px; } 
.iwoo-newspaper_32{ background-position: -1872px -128px; width: 32px; height: 32px; } 
.iwoo-newspaper_add_32{ background-position: -1936px -128px; width: 32px; height: 32px; } 
.iwoo-newspaper_close_32{ background-position: 0 -192px; width: 32px; height: 32px; } 
.iwoo-newspaper_info_32{ background-position: -64px -192px; width: 32px; height: 32px; } 
.iwoo-newspaper_rss_32{ background-position: -128px -192px; width: 32px; height: 32px; } 
.iwoo-newspaper_search_32{ background-position: -192px -192px; width: 32px; height: 32px; } 
.iwoo-oil2_32{ background-position: -256px -192px; width: 32px; height: 32px; } 
.iwoo-oil_32{ background-position: -320px -192px; width: 32px; height: 32px; } 
.iwoo-page_16{ background-position: -384px -192px; width: 16px; height: 16px; } 
.iwoo-page_blank_32{ background-position: -432px -192px; width: 32px; height: 32px; } 
.iwoo-page_blank_add_32{ background-position: -496px -192px; width: 32px; height: 32px; } 
.iwoo-page_blank_chart_32{ background-position: -560px -192px; width: 32px; height: 32px; } 
.iwoo-page_blank_close_32{ background-position: -624px -192px; width: 32px; height: 32px; } 
.iwoo-page_blank_warning_32{ background-position: -688px -192px; width: 32px; height: 32px; } 
.iwoo-page_table_32{ background-position: -752px -192px; width: 32px; height: 32px; } 
.iwoo-page_table_add_32{ background-position: -816px -192px; width: 32px; height: 32px; } 
.iwoo-page_table_chart_32{ background-position: -880px -192px; width: 32px; height: 32px; } 
.iwoo-page_table_close_32{ background-position: -944px -192px; width: 32px; height: 32px; } 
.iwoo-page_table_warning_32{ background-position: -1008px -192px; width: 32px; height: 32px; } 
.iwoo-page_text_32{ background-position: -1072px -192px; width: 32px; height: 32px; } 
.iwoo-page_text_add_32{ background-position: -1136px -192px; width: 32px; height: 32px; } 
.iwoo-page_text_chart_32{ background-position: -1200px -192px; width: 32px; height: 32px; } 
.iwoo-page_text_close_32{ background-position: -1264px -192px; width: 32px; height: 32px; } 
.iwoo-page_text_warning_32{ background-position: -1328px -192px; width: 32px; height: 32px; } 
.iwoo-pencil_32{ background-position: -1392px -192px; width: 32px; height: 32px; } 
.iwoo-rss_16{ background-position: -1456px -192px; width: 16px; height: 16px; } 
.iwoo-rss_32{ background-position: -1504px -192px; width: 32px; height: 32px; } 
.iwoo-save_32{ background-position: -1568px -192px; width: 32px; height: 32px; } 
.iwoo-save_download_32{ background-position: -1632px -192px; width: 32px; height: 32px; } 
.iwoo-save_upload_32{ background-position: -1696px -192px; width: 32px; height: 32px; } 
.iwoo-screen_32{ background-position: -1760px -192px; width: 32px; height: 32px; } 
.iwoo-screen_off_32{ background-position: -1824px -192px; width: 32px; height: 32px; } 
.iwoo-screwdriver_32{ background-position: -1888px -192px; width: 32px; height: 32px; } 
.iwoo-search_32{ background-position: -1952px -192px; width: 32px; height: 32px; } 
.iwoo-search_button_16{ background-position: 0 -256px; width: 16px; height: 16px; } 
.iwoo-search_button_32{ background-position: -48px -256px; width: 32px; height: 32px; } 
.iwoo-search_button_green_16{ background-position: -112px -256px; width: 16px; height: 16px; } 
.iwoo-search_button_green_32{ background-position: -160px -256px; width: 32px; height: 32px; } 
.iwoo-search_chart_32{ background-position: -224px -256px; width: 32px; height: 32px; } 
.iwoo-search_warning_32{ background-position: -288px -256px; width: 32px; height: 32px; } 
.iwoo-star_16{ background-position: -352px -256px; width: 16px; height: 16px; } 
.iwoo-star_32{ background-position: -400px -256px; width: 32px; height: 32px; } 
.iwoo-star_off16{ background-position: -464px -256px; width: 16px; height: 16px; } 
.iwoo-star_off_32{ background-position: -512px -256px; width: 32px; height: 32px; } 
.iwoo-tools_32{ background-position: -576px -256px; width: 32px; height: 32px; } 
.iwoo-truck_32{ background-position: -640px -256px; width: 32px; height: 32px; } 
.iwoo-truck_48{ background-position: -704px -256px; width: 48px; height: 48px; } 
.iwoo-twitter_16{ background-position: -784px -256px; width: 16px; height: 16px; } 
.iwoo-twitter_32{ background-position: -832px -256px; width: 32px; height: 32px; } 
.iwoo-user_32{ background-position: -896px -256px; width: 32px; height: 32px; } 
.iwoo-user_add_32{ background-position: -960px -256px; width: 32px; height: 32px; } 
.iwoo-user_blue_32{ background-position: -1024px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_32{ background-position: -1088px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_add_32{ background-position: -1152px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_chart_32{ background-position: -1216px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_close_32{ background-position: -1280px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_info_32{ background-position: -1344px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_rss_32{ background-position: -1408px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_search_32{ background-position: -1472px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_twitter_32{ background-position: -1536px -256px; width: 32px; height: 32px; } 
.iwoo-user_business_warning_32{ background-position: -1600px -256px; width: 32px; height: 32px; } 
.iwoo-user_close_32{ background-position: -1664px -256px; width: 32px; height: 32px; } 
.iwoo-user_info_32{ background-position: -1728px -256px; width: 32px; height: 32px; } 
.iwoo-user_rss_32{ background-position: -1792px -256px; width: 32px; height: 32px; } 
.iwoo-user_search_32{ background-position: -1856px -256px; width: 32px; height: 32px; } 
.iwoo-user_twitter_32{ background-position: -1920px -256px; width: 32px; height: 32px; } 
.iwoo-user_warning_32{ background-position: 0 -336px; width: 32px; height: 32px; } 
.iwoo-users_32{ background-position: -64px -336px; width: 32px; height: 32px; } 
.iwoo-users_business_32{ background-position: -128px -336px; width: 32px; height: 32px; } 
.iwoo-warning_16{ background-position: -192px -336px; width: 16px; height: 16px; } 
.iwoo-warning_32{ background-position: -240px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_32{ background-position: -304px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_chart_32{ background-position: -368px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32{ background-position: -432px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32_add{ background-position: -496px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32_close{ background-position: -560px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_info_32{ background-position: -624px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_rss_32{ background-position: -688px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_search_32{ background-position: -752px -336px; width: 32px; height: 32px; } 
.iwoo-web_layout_twitter_32{ background-position: -816px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_32{ background-position: -880px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_blank_32{ background-position: -944px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_32{ background-position: -1008px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_add_32{ background-position: -1072px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_chart_32{ background-position: -1136px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_close_32{ background-position: -1200px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_error_32{ background-position: -1264px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_info_32{ background-position: -1328px -336px; width: 32px; height: 32px; } 
.iwoo-window_app_list_search_32{ background-position: -1392px -336px; width: 32px; height: 32px; } 



/*
.iwoo-activity_monitor{ background-position: 0 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_add{ background-position: -42px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_chart{ background-position: -84px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_close{ background-position: -126px 0; width: 32px; height: 32px; } 
.iwoo-activity_monitor_warning{ background-position: -168px 0; width: 32px; height: 32px; } 
.iwoo-add_16{ background-position: -210px 0; width: 16px; height: 16px; } 
.iwoo-add_32{ background-position: -236px 0; width: 32px; height: 32px; } 
.iwoo-address_book_32{ background-position: -278px 0; width: 32px; height: 32px; } 
.iwoo-address_book_add_32{ background-position: -320px 0; width: 32px; height: 32px; } 
.iwoo-address_book_close_32{ background-position: -362px 0; width: 32px; height: 32px; } 
.iwoo-address_book_search_32{ background-position: -404px 0; width: 32px; height: 32px; } 
.iwoo-address_book_warning_32{ background-position: -446px 0; width: 32px; height: 32px; } 
.iwoo-arrow_down_16{ background-position: -488px 0; width: 16px; height: 16px; } 
.iwoo-arrow_down_32{ background-position: -514px 0; width: 32px; height: 32px; } 
.iwoo-arrow_left_16{ background-position: -556px 0; width: 16px; height: 16px; } 
.iwoo-arrow_left_32{ background-position: -582px 0; width: 32px; height: 32px; } 
.iwoo-arrow_right_16{ background-position: -624px 0; width: 16px; height: 16px; } 
.iwoo-arrow_right_32{ background-position: -650px 0; width: 32px; height: 32px; } 
.iwoo-arrow_up_16{ background-position: -692px 0; width: 16px; height: 16px; } 
.iwoo-arrow_up_32{ background-position: -718px 0; width: 32px; height: 32px; } 
.iwoo-basket_32{ background-position: -760px 0; width: 32px; height: 32px; } 
.iwoo-basket_add_32{ background-position: -802px 0; width: 32px; height: 32px; } 
.iwoo-basket_back_32{ background-position: -844px 0; width: 32px; height: 32px; } 
.iwoo-basket_chart_32{ background-position: -886px 0; width: 32px; height: 32px; } 
.iwoo-basket_close_32{ background-position: -928px 0; width: 32px; height: 32px; } 
.iwoo-basket_go_32{ background-position: -970px 0; width: 32px; height: 32px; } 
.iwoo-basket_search_32{ background-position: -1012px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_down_32{ background-position: -1054px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_left_32{ background-position: -1096px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_right_32{ background-position: -1138px 0; width: 32px; height: 32px; } 
.iwoo-blue_arrow_up_32{ background-position: -1180px 0; width: 32px; height: 32px; } 
.iwoo-book_32{ background-position: -1222px 0; width: 32px; height: 32px; } 
.iwoo-book_add_32{ background-position: -1264px 0; width: 32px; height: 32px; } 
.iwoo-book_bookmarks_32{ background-position: -1306px 0; width: 32px; height: 32px; } 
.iwoo-book_close_32{ background-position: -1348px 0; width: 32px; height: 32px; } 
.iwoo-book_search_32{ background-position: -1390px 0; width: 32px; height: 32px; } 
.iwoo-book_warning_32{ background-position: -1432px 0; width: 32px; height: 32px; } 
.iwoo-camera_32{ background-position: -1474px 0; width: 32px; height: 32px; } 
.iwoo-camera_add_32{ background-position: -1516px 0; width: 32px; height: 32px; } 
.iwoo-camera_close_32{ background-position: -1558px 0; width: 32px; height: 32px; } 
.iwoo-chart_16{ background-position: -1600px 0; width: 16px; height: 16px; } 
.iwoo-chart_32{ background-position: -1626px 0; width: 32px; height: 32px; } 
.iwoo-chart_flipped_16{ background-position: -1668px 0; width: 16px; height: 16px; } 
.iwoo-chart_flipped_32{ background-position: -1694px 0; width: 32px; height: 32px; } 
.iwoo-clock_32{ background-position: -1736px 0; width: 32px; height: 32px; } 
.iwoo-close_16{ background-position: -1778px 0; width: 16px; height: 16px; } 
.iwoo-close_32{ background-position: -1804px 0; width: 32px; height: 32px; } 
.iwoo-comment_32{ background-position: -1846px 0; width: 32px; height: 32px; } 
.iwoo-comment_add_32{ background-position: -1888px 0; width: 32px; height: 32px; } 
.iwoo-comment_page_32{ background-position: -1930px 0; width: 32px; height: 32px; } 
.iwoo-comment_user_32{ background-position: -1972px 0; width: 32px; height: 32px; } 
.iwoo-comment_user_add_32{ background-position: 0 -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_chart_32{ background-position: -42px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_close_32{ background-position: -84px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_info_32{ background-position: -126px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_page_32{ background-position: -168px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_rss_32{ background-position: -210px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_search_32{ background-position: -252px -42px; width: 32px; height: 32px; } 
.iwoo-comment_user_warning_32{ background-position: -294px -42px; width: 32px; height: 32px; } 
.iwoo-database_32{ background-position: -336px -42px; width: 32px; height: 32px; } 
.iwoo-database_add_32{ background-position: -378px -42px; width: 32px; height: 32px; } 
.iwoo-database_chart_32{ background-position: -420px -42px; width: 32px; height: 32px; } 
.iwoo-database_close_32{ background-position: -462px -42px; width: 32px; height: 32px; } 
.iwoo-database_page_32{ background-position: -504px -42px; width: 32px; height: 32px; } 
.iwoo-database_search_32{ background-position: -546px -42px; width: 32px; height: 32px; } 
.iwoo-database_warning_32{ background-position: -588px -42px; width: 32px; height: 32px; } 
.iwoo-email_32{ background-position: -630px -42px; width: 32px; height: 32px; } 
.iwoo-email_add_32{ background-position: -672px -42px; width: 32px; height: 32px; } 
.iwoo-email_close_32{ background-position: -714px -42px; width: 32px; height: 32px; } 
.iwoo-email_forward_32{ background-position: -756px -42px; width: 32px; height: 32px; } 
.iwoo-email_reply_32{ background-position: -798px -42px; width: 32px; height: 32px; } 
.iwoo-email_reply_all_32{ background-position: -840px -42px; width: 32px; height: 32px; } 
.iwoo-error_button{ background-position: -882px -42px; width: 32px; height: 32px; } 
.iwoo-error_button_16{ background-position: -924px -42px; width: 16px; height: 16px; } 
.iwoo-folder_32{ background-position: -950px -42px; width: 32px; height: 32px; } 
.iwoo-folder_add_32{ background-position: -992px -42px; width: 32px; height: 32px; } 
.iwoo-folder_chart_32{ background-position: -1034px -42px; width: 32px; height: 32px; } 
.iwoo-folder_close_32{ background-position: -1076px -42px; width: 32px; height: 32px; } 
.iwoo-folder_page_32{ background-position: -1118px -42px; width: 32px; height: 32px; } 
.iwoo-folder_search_32{ background-position: -1160px -42px; width: 32px; height: 32px; } 
.iwoo-folder_warning_32{ background-position: -1202px -42px; width: 32px; height: 32px; } 
.iwoo-hammer_32{ background-position: -1244px -42px; width: 32px; height: 32px; } 
.iwoo-heart_16{ background-position: -1286px -42px; width: 16px; height: 16px; } 
.iwoo-heart_32{ background-position: -1312px -42px; width: 32px; height: 32px; } 
.iwoo-home_32{ background-position: -1354px -42px; width: 32px; height: 32px; } 
.iwoo-home_back_32{ background-position: -1396px -42px; width: 32px; height: 32px; } 
.iwoo-home_go_32{ background-position: -1438px -42px; width: 32px; height: 32px; } 
.iwoo-info_button_16{ background-position: -1480px -42px; width: 16px; height: 16px; } 
.iwoo-info_button_32{ background-position: -1506px -42px; width: 32px; height: 32px; } 
.iwoo-lightbulb_32{ background-position: -1548px -42px; width: 32px; height: 32px; } 
.iwoo-lightbulb_off_32{ background-position: -1590px -42px; width: 32px; height: 32px; } 
.iwoo-lock_32{ background-position: -1632px -42px; width: 32px; height: 32px; } 
.iwoo-lock_open_32{ background-position: -1674px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_32{ background-position: -1716px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_add_32{ background-position: -1758px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_close_32{ background-position: -1800px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_info_32{ background-position: -1842px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_rss_32{ background-position: -1884px -42px; width: 32px; height: 32px; } 
.iwoo-newspaper_search_32{ background-position: -1926px -42px; width: 32px; height: 32px; } 
.iwoo-page_16{ background-position: -1968px -42px; width: 16px; height: 16px; } 
.iwoo-page_blank_32{ background-position: 0 -84px; width: 32px; height: 32px; } 
.iwoo-page_blank_add_32{ background-position: -42px -84px; width: 32px; height: 32px; } 
.iwoo-page_blank_chart_32{ background-position: -84px -84px; width: 32px; height: 32px; } 
.iwoo-page_blank_close_32{ background-position: -126px -84px; width: 32px; height: 32px; } 
.iwoo-page_blank_warning_32{ background-position: -168px -84px; width: 32px; height: 32px; } 
.iwoo-page_table_32{ background-position: -210px -84px; width: 32px; height: 32px; } 
.iwoo-page_table_add_32{ background-position: -252px -84px; width: 32px; height: 32px; } 
.iwoo-page_table_chart_32{ background-position: -294px -84px; width: 32px; height: 32px; } 
.iwoo-page_table_close_32{ background-position: -336px -84px; width: 32px; height: 32px; } 
.iwoo-page_table_warning_32{ background-position: -378px -84px; width: 32px; height: 32px; } 
.iwoo-page_text_32{ background-position: -420px -84px; width: 32px; height: 32px; } 
.iwoo-page_text_add_32{ background-position: -462px -84px; width: 32px; height: 32px; } 
.iwoo-page_text_chart_32{ background-position: -504px -84px; width: 32px; height: 32px; } 
.iwoo-page_text_close_32{ background-position: -546px -84px; width: 32px; height: 32px; } 
.iwoo-page_text_warning_32{ background-position: -588px -84px; width: 32px; height: 32px; } 
.iwoo-pencil_32{ background-position: -630px -84px; width: 32px; height: 32px; } 
.iwoo-rss_16{ background-position: -672px -84px; width: 16px; height: 16px; } 
.iwoo-rss_32{ background-position: -698px -84px; width: 32px; height: 32px; } 
.iwoo-save_32{ background-position: -740px -84px; width: 32px; height: 32px; } 
.iwoo-save_download_32{ background-position: -782px -84px; width: 32px; height: 32px; } 
.iwoo-save_upload_32{ background-position: -824px -84px; width: 32px; height: 32px; } 
.iwoo-screen_32{ background-position: -866px -84px; width: 32px; height: 32px; } 
.iwoo-screen_off_32{ background-position: -908px -84px; width: 32px; height: 32px; } 
.iwoo-screwdriver_32{ background-position: -950px -84px; width: 32px; height: 32px; } 
.iwoo-search_32{ background-position: -992px -84px; width: 32px; height: 32px; } 
.iwoo-search_button_16{ background-position: -1034px -84px; width: 16px; height: 16px; } 
.iwoo-search_button_32{ background-position: -1060px -84px; width: 32px; height: 32px; } 
.iwoo-search_button_green_16{ background-position: -1102px -84px; width: 16px; height: 16px; } 
.iwoo-search_button_green_32{ background-position: -1128px -84px; width: 32px; height: 32px; } 
.iwoo-search_chart_32{ background-position: -1170px -84px; width: 32px; height: 32px; } 
.iwoo-search_warning_32{ background-position: -1212px -84px; width: 32px; height: 32px; } 
.iwoo-star_16{ background-position: -1254px -84px; width: 16px; height: 16px; } 
.iwoo-star_32{ background-position: -1280px -84px; width: 32px; height: 32px; } 
.iwoo-star_off16{ background-position: -1322px -84px; width: 16px; height: 16px; } 
.iwoo-star_off_32{ background-position: -1348px -84px; width: 32px; height: 32px; } 
.iwoo-tools_32{ background-position: -1390px -84px; width: 32px; height: 32px; } 
.iwoo-twitter_16{ background-position: -1432px -84px; width: 16px; height: 16px; } 
.iwoo-twitter_32{ background-position: -1458px -84px; width: 32px; height: 32px; } 
.iwoo-user_32{ background-position: -1500px -84px; width: 32px; height: 32px; } 
.iwoo-user_add_32{ background-position: -1542px -84px; width: 32px; height: 32px; } 
.iwoo-user_blue_32{ background-position: -1584px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_32{ background-position: -1626px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_add_32{ background-position: -1668px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_chart_32{ background-position: -1710px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_close_32{ background-position: -1752px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_info_32{ background-position: -1794px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_rss_32{ background-position: -1836px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_search_32{ background-position: -1878px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_twitter_32{ background-position: -1920px -84px; width: 32px; height: 32px; } 
.iwoo-user_business_warning_32{ background-position: -1962px -84px; width: 32px; height: 32px; } 
.iwoo-user_close_32{ background-position: 0 -126px; width: 32px; height: 32px; } 
.iwoo-user_info_32{ background-position: -42px -126px; width: 32px; height: 32px; } 
.iwoo-user_rss_32{ background-position: -84px -126px; width: 32px; height: 32px; } 
.iwoo-user_search_32{ background-position: -126px -126px; width: 32px; height: 32px; } 
.iwoo-user_twitter_32{ background-position: -168px -126px; width: 32px; height: 32px; } 
.iwoo-user_warning_32{ background-position: -210px -126px; width: 32px; height: 32px; } 
.iwoo-users_32{ background-position: -252px -126px; width: 32px; height: 32px; } 
.iwoo-users_business_32{ background-position: -294px -126px; width: 32px; height: 32px; } 
.iwoo-warning_16{ background-position: -336px -126px; width: 16px; height: 16px; } 
.iwoo-warning_32{ background-position: -362px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_32{ background-position: -404px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_chart_32{ background-position: -446px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32{ background-position: -488px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32_add{ background-position: -530px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_error_32_close{ background-position: -572px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_info_32{ background-position: -614px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_rss_32{ background-position: -656px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_search_32{ background-position: -698px -126px; width: 32px; height: 32px; } 
.iwoo-web_layout_twitter_32{ background-position: -740px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_32{ background-position: -782px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_blank_32{ background-position: -824px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_32{ background-position: -866px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_add_32{ background-position: -908px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_chart_32{ background-position: -950px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_close_32{ background-position: -992px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_error_32{ background-position: -1034px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_info_32{ background-position: -1076px -126px; width: 32px; height: 32px; } 
.iwoo-window_app_list_search_32{ background-position: -1118px -126px; width: 32px; height: 32px; } 
*/